body {
  background : #ededed;
  padding: 0;
  margin: 0 auto;
}

.tic-tac-toe {
  border: 1px solid #ededed;
  margin: 50px 0 0 50px;
  padding: 0;
  height:300px;
  width: 400px;
}

.paul-pic {
  height: 430px;
  width: 500px;
  transform: rotate(90deg);
  float: right;

}

.header {
  text-align: center;
  background-color: #6fcb9f;
  font-family: 'Rasa', serif;
  box-shadow: 2px 2px 5px 0px rgba(40,1,1,0.2);
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  padding: 5px;
}

.top {
  height: 100%;
  background-color: #faf8f3;
  box-shadow: 5px 3px 5px 0px rgba(1,1,1,0.2);
}

.middle {

}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.name {
  padding: 160px 0 0 0;
  font-size: 50px;
  text-align: left;
  padding-left: 100px;
  /*font-family: 'Rasa', serif;*/
  font-family: 'Josefin Slab', serif;
}

.name > span {
  font-size: 40px;
  color: #fb2e01;
}

.about {
  padding-left: 30px;
  padding-top: 200px;
  padding-bottom: 100px;
  font-family: arial;
}

.about-header {
  font-size: 50px;
  text-align: center;
  font-family: 'Rasa', serif;
  padding-top: 50px;
  font-family: 'Josefin Slab', serif;

}

#middle {

}

.button {
  color: black;
  padding: 5px;
  font-size: 15px;
  box-shadow: 10px 10px 5px 0px rgba(251,46,1,0.1);
  border: none;
  margin: 7px;
  border: .5px black;
  letter-spacing: 1px;
}

.project-section {
  font-family: 'Josefin Slab', serif;
  background-color: #6fcb9f;
  padding-bottom: 370px;
}

.about-section {
  text-align: left;
  padding-bottom: 600px;
  font-size: 18px;
  margin: 0 auto;
  max-width: 500px;
}
